# Ignore environments and build files
backend/venv/
frontend/node_modules/
ML models/sentiment_analysis.csv
ML models/cleaned_data.pkl
ML models/BERT/logs
ML models/BERT/results
ML models/BERT/config.json
ML models/BERT/model.safetensors
ML models/BERT/special_tokens_map.json
ML models/BERT/tokenizer_config.json
Ml models/BERT/vocab.txt